@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.background.light');
  --foreground: theme('colors.foreground.light');
  --font-title: "Helvetica Neue Condensed Bold", Arial, sans-serif;
  --font-body: "Roboto", Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.background.dark');
    --foreground: theme('colors.foreground.dark');
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
